
body
{
    direction:rtl;
}
.table-responsive > div.container
{
    max-width:700px;
}
.main-panel
{
overflow:visible !important;

}

.red-button-remove
{
    margin-top: -45px;
    margin-left: 20px;
}